@model PortfolioDetailVM

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="~/assets/images/@Model.ImagePath" alt="Card image cap">
    <div class="card-body">
        <p class="card-text"><b>Fullname</b>@Model.FullName</p>
        <p class="card-text"><b>Profession</b>@Model.ProfessionName</p>
    </div>
</div>